.formulario-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.formulario-bnt{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#bntEnviar {
    margin-right: 65px;
}